flow.json
[
    {
        "id": "5ac0dd0a80aefc37",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "973f9387715eb78c",
        "type": "inject",
        "z": "5ac0dd0a80aefc37",
        "name": "inject_1",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1000,
        "y": 320,
        "wires": [
            [
                "f38e0d8bd618b584"
            ]
        ]
    },
    {
        "id": "f38e0d8bd618b584",
        "type": "function",
        "z": "5ac0dd0a80aefc37",
        "name": "function 2",
        "func": "msg.payload = {\n    sensor_id: \"BIN_0\" + Math.ceil(Math.random() * 5),\n    weight_kg: parseFloat((Math.random() * 60).toFixed(2)),\n    item_type: [\"glass\", \"plastic\", \"aluminium\"][Math.floor(Math.random() * 3)],\n    timestamp: new Date().toISOString()\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1180,
        "y": 320,
        "wires": [
            [
                "899d6ce58646c088"
            ]
        ]
    },
    {
        "id": "899d6ce58646c088",
        "type": "switch",
        "z": "5ac0dd0a80aefc37",
        "name": "anamoly_detector",
        "property": "payload.weight_kg",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "40",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1390,
        "y": 320,
        "wires": [
            [
                "5786bd98f672e36b"
            ],
            [
                "2742d05555817b0c"
            ]
        ]
    },
    {
        "id": "5786bd98f672e36b",
        "type": "change",
        "z": "5ac0dd0a80aefc37",
        "name": "Set msg.topic to anamoly",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "anamoly",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.topic",
                "pt": "msg",
                "to": "anamoly",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1630,
        "y": 300,
        "wires": [
            [
                "23f13bb32b6377ae",
                "bed8bd8e66dd1e99"
            ]
        ]
    },
    {
        "id": "2742d05555817b0c",
        "type": "change",
        "z": "5ac0dd0a80aefc37",
        "name": "Set msg.topic to normal",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "normal",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.topic",
                "pt": "msg",
                "to": "normal",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1630,
        "y": 380,
        "wires": [
            [
                "f97fd15f7f20766b",
                "bed8bd8e66dd1e99"
            ]
        ]
    },
    {
        "id": "23f13bb32b6377ae",
        "type": "debug",
        "z": "5ac0dd0a80aefc37",
        "name": "log anamoly readings",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2000,
        "y": 220,
        "wires": []
    },
    {
        "id": "f97fd15f7f20766b",
        "type": "debug",
        "z": "5ac0dd0a80aefc37",
        "name": "log normal readings",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2010,
        "y": 500,
        "wires": []
    },
    {
        "id": "9689b953aab0d394",
        "type": "debug",
        "z": "5ac0dd0a80aefc37",
        "name": "inspect raw payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1220,
        "y": 200,
        "wires": []
    },
    {
        "id": "af3479de4cc4fa3d",
        "type": "sqlite",
        "z": "5ac0dd0a80aefc37",
        "mydb": "28173aa55b6e1717",
        "sqlquery": "fixed",
        "sql": "CREATE TABLE IF NOT EXISTS sensor_log (\n    sensor_id TEXT,\n    weight_kg REAL,\n    item_type TEXT,\n    topic TEXT,\n    timestamp TEXT\n)",
        "name": "sqlite_db_node",
        "x": 1020,
        "y": 460,
        "wires": [
            [
                "b58e80f79046d5ca"
            ]
        ]
    },
    {
        "id": "b02e391e7bc73c16",
        "type": "sqlite",
        "z": "5ac0dd0a80aefc37",
        "mydb": "28173aa55b6e1717",
        "sqlquery": "prepared",
        "sql": "INSERT INTO sensor_log VALUES ($sensor_id, $weight_kg, $item_type, $topic, $timestamp)",
        "name": "sqlite_db_node (INSERT)",
        "x": 2110,
        "y": 400,
        "wires": [
            [
                "cb73d14b085062a8"
            ]
        ]
    },
    {
        "id": "b58e80f79046d5ca",
        "type": "debug",
        "z": "5ac0dd0a80aefc37",
        "name": "Log sql status",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1260,
        "y": 460,
        "wires": []
    },
    {
        "id": "cb73d14b085062a8",
        "type": "debug",
        "z": "5ac0dd0a80aefc37",
        "name": "INSERT_STATUS",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2330,
        "y": 360,
        "wires": []
    },
    {
        "id": "bed8bd8e66dd1e99",
        "type": "function",
        "z": "5ac0dd0a80aefc37",
        "name": "prepare_params",
        "func": "msg.params = {\n    $sensor_id: msg.payload.sensor_id,\n    $weight_kg: msg.payload.weight_kg,\n    $item_type: msg.payload.item_type,\n    $topic: msg.payload.topic,\n    $timestamp: msg.payload.timestamp\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2040,
        "y": 300,
        "wires": [
            [
                "b02e391e7bc73c16"
            ]
        ]
    },
    {
        "id": "28173aa55b6e1717",
        "type": "sqlitedb",
        "db": "/home/ubuntu/sensor_log.db",
        "mode": "RWC"
    },
    {
        "id": "6be0d646778473c7",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-node-sqlite": "2.0.1"
        }
    }
]